.withoutStock {
  color: red;
}

.input {
  width: 300px;
}

.tooltipp {
  border: none;
  right: 0;
  margin: 5px 45px 2px 2px;
  position: absolute;
  padding: 0
}

.tooltipp:not(:disabled):not(.disabled):hover {
  color: #6c757d;
  background-color: #fff;
  border-color: #fff;
}

.containerSection {
  height: 60vh;
}

tbody {
  display: block;
  max-height: 500px;
  overflow-y: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em)
}

.addProducts {
  display: block !important;
}

.card-header {
  padding: 2px;
}

.card-body {
  padding: 4px;
}

.card-footer {
  padding: 0.3rem 2.25rem;
}

.cards {
  display: none;
}

@media (max-width:600px) {
  h5 {
    font-size: 1rem;
  }

  .table,
  .input-group>.form-control {
    font-size: 13px;
  }

  th {
    font-size: 11px;
  }

  .addProduct {
    display: block;
  }

  .table {
    display: none;
  }

  .cards {
    display: block;
  }
}
