<section *ngIf="showModal" class="modalContainer modalContainer--isShow" id="contCanguro">
    <div class="contMain">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-basic-title" [innerHTML]="title"></h3>
            <button type="button" class="close" aria-label="Close" (click)="onClose(false)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p class="mb-4" [innerHTML]="header"></p>
            <div *ngIf="activateInput && !sectionInput && !activateMessages"
                class="d-flex align-items-center buttonsInput p-6">
                <button type="button" class="btn btn-lg btn-outline-secondary" (click)="onClick('add')">
                    {{dataView.parametricTexts.buttons[0].labelbtn2}}
                </button>
                <button type="button" class="btn btn-lg btn-outline-success" (click)="onClick('view')">
                    {{dataView.parametricTexts.buttons[0].labelbtn3}}
                </button>
            </div>
            <form [formGroup]="registerForm">
                <div *ngIf="!activateInput">
                    <div class="row form-group content-center">
                        <div class="col-md-6">
                            <input type="text" class="form-control"
                                [placeholder]="dataView.parametricTexts.placeholders[0].text1"
                                formControlName="idEmployee">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control"
                                [placeholder]="dataView.parametricTexts.placeholders[0].text2"
                                formControlName="fullname">
                        </div>
                    </div>
                    <div class="row form-group content-center">
                        <div class="col-md-6">
                            <input type="text" class="form-control"
                                [placeholder]="dataView.parametricTexts.placeholders[0].text3"
                                formControlName="occupation">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control"
                                [placeholder]="dataView.parametricTexts.placeholders[0].text4" formControlName="idBoss">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer align-items-between" *ngIf="!activateInput || sectionInput">
            <div class="message" *ngIf="activateMessages">
                <p [innerHTML]="activateMessages" id="user_exist"></p>
            </div>
            <button type="button" class="btn btn-outline-info" [disabled]="validateForm() || !click" (click)="onCall()">
                {{dataView.parametricTexts.buttons[0].labelbtn1}}
            </button>
        </div>
    </div>
</section>