a,
p,
h1,
h2,
h3,
h4,
h5,
body,
.footerTable,
input {
  font-family: "Roboto", sans-serif !important;
}

.containerSection {
  padding: 20px;
}

.edit, .modal-title {
  color: rgb(58, 31, 134);
}

.headerTable {
  background-color: rgba(201, 187, 238, 0.801);
  padding: 10px;
}

.footerTable {
  background-color: rgba(194, 190, 190, 0.267);
  padding: 10px 15px;
  margin: 2.5px 0;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
  font-size: 14px !important;
  justify-content: space-between;
}

P,
label {
  margin: 0;
  padding: 0;
}

.contMain {
  display: inline-block;
  width: calc(100% - 40px);
  max-height: 90vh;
  max-width: 700px;
  height: auto;
  padding: 15px 20px 0;
  background-color: #ededed !important;
  overflow: hidden;
  position: absolute;
  //   bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 6px;
}


.containerMain--isShow {
  top: 0;
  opacity: 9;
  pointer-events: inherit;
}

.modalContainer {
  font-size: initial !important;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: ease all 0.4s;
  -moz-transition: ease all 0.4s;
  -o-transition: ease all 0.4s;
  -ms-transition: ease all 0.4s;
  transition: ease all 0.4s;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -o-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
}

.modalContainer--isShow {
  -webkit-pointer-events: auto;
  -moz-pointer-events: auto;
  -o-pointer-events: auto;
  -ms-pointer-events: auto;
  pointer-events: auto;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  -ms-opacity: 1;
  opacity: 1;
}

.addProduct {
  cursor: pointer;
}
